doctype html
html(lang="en")
  head
    title= 'HermesHotels - Service Status'
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet")
    link(href="css/main.css", rel="stylesheet")
  body

    div(class="container-fluid page-head")
      div(class="row")
        div(class="col-md-12 text-center")
          img(src="../images/service.png")
          h1 HERMESHOTELS <br>
            small Service Status

    div(class="container page-body")
      div(class="row")
        div(class="col-md-12")
          p(class="text-center").
            Tramite questa pagina puoi monitorare lo stato dei servizi HermesHotels.

      div(class="row server-status")
        div(class="col-md-8 col-md-offset-2")
          table(class="table table-hover")
            thead
              tr
                th Stato
                th Server
                th Last Check
            tbody
              tr
                td
                  if server.status
                    img(src="../images/okay.png")
                  else
                    img(src="../images/error.png")
                td=server.name
                td=server.lastCheck


    script(src="https://code.jquery.com/jquery-2.2.1.min.js")
    script(src="js/main.js")
